@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');


.varela {
  font-family: 'Varela Round', sans-serif;
}

.oxanium {
  font-family: 'Oxanium', cursive;
}

body {
  padding-top: 50px;
}

.router-link-active{
  background: #cbd5e0 !important;
  border: 1px solid #ccc;
}

.slideDown {
  animation-name: slideDownAnimation;
  animation-duration: 1s;
}

.max-h-0 {
  max-height: 0;
}

@keyframes slideDownAnimation {
  from { max-height: 0%; }
  to { max-height: auto; }
}
