/* Main CSS File */
html {
    background: #f8f9fa!important;
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

.container-fluid {
    padding-top: 10px;
}

p, h1, h2, h3, h4, h5 {
    overflow-wrap: normal;
    white-space: normal;
}

.wrap-text{
    overflow-wrap: normal;
    white-space: normal;
}